.categoryItem {
  width: 100%;
  background: #fff;
  text-align: center;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 10px;
  flex-direction: column;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
  img {
    width: 40px;
    margin: auto;
    display: block;
  }
}
