.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  //   width: 95%;
  margin-right: 30px;
  margin: auto;

  .banner-img {
    margin: 0 20px;
    @media (max-width: 780px) {
      margin: 20px 0;
      width: 90%;
    }
    img {
      width: 100%;
      display: block;
    }
  }

  .product-wrapper {
    width: 95%;
    max-width: 1350px;
    margin: auto;
  }
}
