.spotlight {
  display: flex;
  position: relative;
  .search {
    position: absolute;
    top: 4px;
    left: 20;
  }
  .shade {
    width: 100%;
    height: 100%;
    background: linear-gradient(182deg, #fefff5 0%, rgb(253 253 253 / 80%) 17%, rgb(248 248 248 / 0%) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 10;
    left: 20;
    width: fit-content;
    gap: 20px;
    h3 {
      color: #3b3b3b;
      font-size: 25px;
      font-weight: 700;
      line-height: 30.52px;
      text-align: left;
    }
    h2 {
      color: #689567;
      font-size: 80px;
      font-weight: 700;
      line-height: 97.68px;
      text-align: center;
    }
    p {
      color: #343434;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.54px;
      text-align: center;
    }
    .spotlightButton {
      background-color: #689567;
      color: white;
      font-weight: 700;
      width: 160px;
      height: 45px;
      top: 572px;
      left: 761px;
      gap: 0px;
      border-radius: 23px;
      opacity: 0px;
    }
  }
}
