.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.108);
  .logo-container {
    width: 150px;
    height: 30px;
    img {
      width: 100%;
      display: block;
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 29px;
    border: 1px solid #000;
    padding: 4px 14px;

    li {
      padding: 5px 20px;
      border-radius: 24px;
      cursor: pointer;

      a {
        font-size: 18px;
        text-wrap: nowrap;
      }
      &:active{
        background-color: #393737;
        color: white;
        padding: 5px 20px;
      }

      &:hover {
        background-color: #393737;
        color: white;
        padding: 5px 20px;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

    .img-container {
      img {
        display: block;
      }
    }

    .login {
      padding: 14px 12px;
      background-color: #212121;
      color: white;
      border-radius: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
